body {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;

    #root {
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            color: #652045;
        }
    }
}
